<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swf.attence.mapper.StateControlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.swf.attence.entity.StateControl">
        <id column="id" property="id" />
        <result column="failid" property="failid" />
        <result column="state_name" property="stateName" />
        <result column="begin_time" property="beginTime" />
        <result column="close_time" property="closeTime" />
        <result column="description" property="description" />
    </resultMap>

</mapper>
